* {
    box-sizing: border-box;
    /* font */
    font-family: "Averta CY", sans-serif;
}

body {
    margin: 0;
}

#header {
    font-size: 250%;
    text-align: center;
    background-size: cover;
    padding: 30vh 100px;
    height: 100vh;
}


/*Estilos de navegación*/

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#header i {
    font-size: 55px;
}

.column-2 h1 {
    font-size: 40px;
    text-align: left;
}

.column-2 {
    font-size: 35%;
    text-align: center;
}

#section-2 h2 {
    font-size: 300%;
    text-align: center;
    width: 100%;
}

#section-2 {
    background-color: #FAF5F3;
    width: 100%;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-2 img {
    width: 100%;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-2 img {
    width: 100%;
}

#section-2 h2 {
    font-size: 400%;
    text-align: left;
}

#section-2 {
    background-color: #FAF5F3;
}

#section-3 h1 {
    width: 50%;
    float: left;
    font-size: 40px;
    text-align: center;
}

#section-3 {
    font-size: 25px;
    text-align: center;
    background-color: #F2F9F8;
}

#section-4 {
    color: black;
    font-size: 35px;
    background-color: #FAF5F3;
}

.column-4 {
    width: 25%;
    float: left;
}

#section-4 h2 {
    font-size: 25px;
    text-align: left;
}

#map {
    width: 100%;
    height: 400px;
    border: 0;
    padding-top: 20%;
    /* height="450" style="border:0;" */
}

#section-5 h2 {
    font-size: 25px;
    text-align: left;
}

#section-5 {
    background-color: #F2F9F8;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-2 img {
    width: 100%;
}

#section-6 h2 {
    font-size: 25px;
    text-align: left;
}

#section-6 {
    background-color: #FAF5F3;
}

#section-7 h2 {
    font-size: 25px;
    text-align: left;
}

#section-7 {
    background-color: #F2F9F8;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-2 img {
    width: 100%;
}

#section-8 h2 {
    font-size: 25px;
    text-align: left;
}

#section-8 {
    background-color: #FAF5F3;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-2 img {
    width: 100%;
}

#section-9 h2 {
    font-size: 25px;
    text-align: left;
}

#section-9 {
    background-color: #F2F9F8;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-2 img {
    width: 100%;
}

#section-10 h2 {
    font-size: 25px;
    text-align: left;
}

#section-10 {
    background-color: #FAF5F3;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-2 img {
    width: 100%;
}

#section-11 {
    width: 100%;
    float: left;
    text-align: center;
    background-color: darkgrey;
}

.column-2 h1 {
    text-align: center;
}

.select {
    background-position: bottom;
}

#section-11 h1 {
    color: black;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.relleno-lateral {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.relleno-columnas {
    padding-right: 20px;
}

.padding-right {
    padding-right: 10%;
}

.padding-left {
    padding-left: 10%;
}

.column-2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.column-2 img {
    padding-left: 10%;
    padding-right: 15%;
    padding-right: 5%;
    padding-top: 5%;
}

#section-1 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
}

#section-0 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
}

@media only screen and (max-width: 750px) {
    #header {
        padding-left: 110%;
    }
    #section-2 {}
    .column-4 {
        width: 100%;
    }
    #section-2 p {
        font-size: 4vw;
    }
    .column-2 {
        width: 100%;
    }
    .body {
        text-align: center;
    }
}